<!-- {{ room | json }} -->
{{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.pristine | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.value | json }}

<div *ngIf="successMessage !== ''" class="alert alert-success">
  {{ successMessage }}
</div>
<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
  <!-- form group and form control is from bootstrap for spacing -->
  <div class="form-group">
    <input
      required
      type="text"
      class="form-control"
      name="roomType"
      placeholder="Room Type"
      [(ngModel)]="room.roomType"
    />
  </div>
  <!-- <div class="form-group">
    <input
      email
      required
      type="text"
      class="form-control"
      name="roomType"
      placeholder="Room Type"
      [(ngModel)]="room.roomType"
    />
    <div>{{ roomAmenities.errors | json }}</div>
  </div> -->
  <div class="form-group">
    <input
      #roomAmenities="ngModel"
      required
      type="text"
      class="form-control"
      name="amenities"
      placeholder="Amenities"
      [(ngModel)]="room.amenities"
    />
    <!-- <div>{{ roomAmenities.errors | json }}</div> -->
    <!-- <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
      Amenities should be min 5 chars!
    </div> -->
    {{ roomAmenities.errors | json }}
    <div *ngIf="roomAmenities.dirty && roomAmenities.errors?.['required']">
      Please provide the amenities
    </div>
  </div>
  <div class="form-group">
    <input
      required
      type="number"
      class="form-control"
      name="price"
      placeholder="Room Price per night"
      [(ngModel)]="room.price"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="text"
      class="form-control"
      name="photos"
      placeholder="Photos (Provide link)"
      [(ngModel)]="room.photos"
    />
  </div>
  <div class="form-group">
    <input
      type="datetime"
      class="form-control"
      name="checkinTime"
      placeholder="Check-in Time"
      [(ngModel)]="room.checkinTime"
    />
  </div>
  <div class="form-group">
    <input
      required
      type="datetime"
      class="form-control"
      name="checkoutTime"
      placeholder="Check-out Time"
      [(ngModel)]="room.checkoutTime"
    />
  </div>
  <div class="form-group">
    <input
      min="1"
      max="5"
      required
      type="number"
      class="form-control"
      name="rating"
      placeholder="Rating"
      [(ngModel)]="room.rating"
    />
  </div>
  <div class="form-group">
    <button
      [disabled]="roomsForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </div>
</form>

<!-- pristine is available on forms and in controls  -->
<!-- pristine signifies not touched, fresh -->
<!-- dirty signifies touched -->
