<!-- <h1>Hello World!</h1>
<app-rooms></app-rooms>
<app-container> -->
<!-- whatever is loaded here is the content of the ng-content  -->
<!-- <app-rooms></app-rooms>
  <h1>This is from ng-content</h1>
  <app-employee></app-employee>
</app-container>

<div #name></div> -->
<!-- //////// -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User</div>
  <div *ngSwitchCase="'Admin'"><app-rooms></app-rooms></div>
  <div *ngSwitchDefault>You are not authorized to view this page!</div>
</div> -->

<!-- <div>   -->
<!-- <ng-template #user></ng-template> -->
<!-- ng-template itself doesn't render anything, but it can help render other things, like a component -->
<!-- #user is known as template reference, #anything on an html tag can be used to access that html tag in view child in the ts files -->
<!-- <h1>Welcome User!</h1> -->
<!-- </div> -->
<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<!-- <br /> -->
<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->
